.footer {
  padding: 47px 0;
  background-color: #000000;
}
.footer__page {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  align-items: center;
}
.links {
  margin-left: 100px;
}
.footer__link {
  font-family: Barlow;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
}
.footer__link:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.footer__right-link {
  text-decoration: none;
}
.footer__right-link:nth-child(2) {
  margin-left: 24px;
  margin-right: 24px;
}

@media only screen and (max-width: 768px){
  .footer{
    padding: 54px 0;

    &__page{
      flex-direction: column;
    }

    &__left{
      flex-direction: column;
    }

    &__right{
      margin-left: auto;
      margin-right: auto;
    }

    &__img{
      margin-bottom: 32px;
    }
  }
  .links{
    margin: 0;
    padding-bottom: 65px;
  }
}
