.how {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;

  &__title {
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 64px;
    list-style-type: none;
    display: flex;
  }

  &__list::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 15px;
    bottom: 100%;
    width: 760px;
    height: 1px;
    display: block;
    background-image: url(../images/Path2.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item {
    max-width: 285px;
    margin-right: 95px;
  }

  &__item::before {
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    position: relative;
    z-index: 1;
    margin-bottom: 67px;
    background-image: url(../images/Oval.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }

  &__item:nth-child(1) > .how__item-title::before {
    content: "";
    display: block;
    width: 90px;
    height: 72px;
    position: relative;
    z-index: 1;
    margin-bottom: 38px;
    background-image: url(../images/first.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }

  &__item:nth-child(2) > .how__item-title::before {
    content: "";
    display: block;
    width: 90px;
    height: 72px;
    position: relative;
    z-index: 1;
    margin-bottom: 38px;
    background-image: url(../images/second.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }

  &__item:nth-child(3) > .how__item-title::before {
    content: "";
    display: block;
    width: 90px;
    height: 72px;
    position: relative;
    z-index: 1;
    margin-bottom: 38px;
    background-image: url(../images/third.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }

  &__item-title {
    margin: 0;
    padding: 0;
    max-width: 200px;
    padding-bottom: 42px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333d4b;
  }

  &__item-text {
    margin: 0;
    padding: 0;
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
  }
}

@media only screen and (max-width: 768px){
  .how{
    max-width: 690px;

    &__title {
      padding-bottom: 40px;
    }
    
    &__list {
      padding-bottom: 44px;
    }

    &__list::before {
      top: 15px;
      width: 467px;
      height: 2px;
      display: block;
    }

    &__item {
      max-width: 223px;
      margin-right: 10px;
    }

    &__item::before {
      margin-bottom: 48px;
    }

    &__item:nth-child(1) > .how__item-title::before {
      margin-bottom: 42px;
    }

    &__item:nth-child(2) > .how__item-title::before {
      margin-bottom: 42px;
    }

    &__item:nth-child(3) > .how__item-title::before {
      margin-bottom: 42px;
    }

    &__item-title {
      max-width: 223px;
      padding-bottom: 38px;
      font-size: 28px;
      line-height: 32px;
    }
    &__item-text {
      font-size: 15px;
      line-height: 25px;
    }
  }
}
