

.why {
  padding-bottom: 350px;
  &__wrapper{
    background-color: #272e37;
    min-height: 580px;
    position: relative;
  }

  &__title {
    margin: 0;
    padding: 0;
    padding: 100px 0 32px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #fefcf7;
  }

  &__text {
    margin: 0;
    padding: 0;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    opacity: 0.8;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 85px;
    margin: 86px auto 0;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    z-index: 0;
    top: 150px;
    width: 350px;
    padding-top: 72px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 48px;
    margin-right: 30px;
    background-color: #0e8784;
  }

  &__item-box{
    max-width: 255px;
    margin-left: auto;
    margin-right: auto;
  }

  &__item:nth-child(1) > .why__item-content::before {
    content: "";
    width: 71px;
    height: 72px;
    display: block;
    margin-left: 135px;
    margin-bottom: 56px;
    background-image: url(../images/coffee-bean.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__item:nth-child(2) > .why__item-content::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    margin-left: 135px;
    margin-bottom: 56px;
    background-image: url(../images/sovga.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__item:nth-child(3) > .why__item-content::before {
    content: "";
    width: 72px;
    height: 50px;
    display: block;
    text-align: center;
    margin-left: 135px;
    margin-bottom: 67px;
    margin-top: 11px;
    background-image: url(../images/mashina.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__item-title {
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fefcf7;
  }

  &__item-text {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fefcf7;
  }
}

@media only screen and (max-width: 768px){
  .why{
    padding-bottom: 430px;
    &__wrapper{
      max-width: 690px;
    }

    &__title{
      padding: 56px 0 24px;
      font-size: 32px;
    }

    &__text{
      font-size: 15px;
      line-height: 25px;
    }

    &__list{
      left: 57px;
      max-width: 580px;
      align-items: center;
      margin-bottom: 490px;
    }

    &__item{
      width: 100%;
      margin: 0;
      padding: 40px 70px;
      margin-bottom: 24px;
    }

    &__item-box{
      max-width: 344px;
    }

    &__item-title{
      padding-bottom: 16px;
      text-align: left;
    }

    &__item-text{
      text-align: left;
    }
    &__item-content{
      display: flex;
      align-items: center;
    }
    &__item-box{
      padding-left: 55px;
    }
    &__item:nth-child(1) > .why__item-content::before{
      padding: 0;
      margin: 0;
      width: 56px;
      height: 56px;
      flex-shrink: 0;
    }
    &__item:nth-child(2) > .why__item-content::before{
      padding: 0;
      margin: 0;
      width: 56px;
      height: 56px;
      flex-shrink: 0;
    }
    &__item:nth-child(3) > .why__item-content::before{
      padding: 0;
      margin: 0;
      width: 55px;
      height: 39px;
      flex-shrink: 0;
    }
  }
}
  